---
import projects from "../../projectsData";
import Button from "../Button.astro";
import Image from "astro/components/Image.astro";
---


<section class="projects">
    <ul class="project-list">
        {
            projects.map((project) => (
                <li class="project-item">
                    <img src={`${project.coverImage}`} alt="project cover image" />
                    <a href={`/project/${project.title.toLowerCase().replaceAll(" ", "-")}`}>
                        <div class="project-info">
                        <h2 class="project-title">{project.title}</h2>
                        <ul class="project-tehcnologies">
                            {
                                project.technologies.slice(0, 6).map((tech) => (
                                    <li class="tech">{tech}</li>
                                ))
                            }
                        </ul>
                    </div>
                    
                    <Button
                        type="button",
                        href={`/project/${project.title.toLowerCase().replaceAll(" ", "-")}`};
                    > 
                        See Project
                    </Button>
                    </a>
                </li>
            ))
        }
    </ul>
</section>

<style>
    a {
        text-decoration: none;
        color: inherit;
    }

    li {
        list-style: none;
        position: relative;
    }

    .project-list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        flex-grow: 1;
        margin-top: 6.25rem;
    }

    .project-item {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #737577;
        padding-bottom: 2rem;
    }

    .project-tehcnologies {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem
        
}

img  {
    position: absolute;
    pointer-events: none;
    aspect-ratio: 1/1;
    max-width: 20vw;
    opacity: 0;
    transition: transform .2s ease;
    transition: opacity 0.5s ease;
    object-fit: cover;
    z-index: 200;
}

.project-item:hover img {
    opacity: 1;


}

h2 {
        letter-spacing: -2px;
    }


</style>




<script>    




const projectItems = document.querySelectorAll(".project-item");

projectItems.forEach((item) => {
    const img = item.querySelector("img");

    item.addEventListener("mousemove", (e) => {
        const rect = item.getBoundingClientRect();

        const x = e.clientX - rect.left - (img.offsetWidth / 2);
        const y = e.clientY - rect.top - (img.offsetHeight / 2);

        
        img.style.transform = `translate(${x}px, ${y}px)`;
       
        
    })
    
})

</script>